<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Louvain-la-propre</title>
    <link rel="stylesheet" href="css/index-style.css">
    <link rel="shortcut icon" href="./Pics/lln_logo.png">
  
</head>
<body>
    <header>
      <section class="logo-title">
        <img class="thumbnailLogo" src="Pics/Logo-federation-wallonie-bruxelles.jpg" alt="Logo Fédération Wallonie Bruxelles" width="150" height="175">
        <h1 class="title">Louvain-La-Neuve</h1>
      </section>
      <section class="rightPart">
        <form action="/request/search" method="POST">
          <input class="searchBox"
            type="text"
            name="search"
            id="search"
            placeholder="Search..."
          />
          <button class="search-btn" type="submit" hidden="true">Submit</button>
          <a class="loginButton" href="/login" ><%=Login%></a>
          <p id="user_preferences"><%=Preferences%></p>
          <button id="myBtn" onclick="myFunction()">change</button>
        </form>
      </section>
    </header>
    <section class="add-and-date">
        <a class="incidentButton" href="/incident">Lien pour ajouter un incident</a>
        <p>
            <label class="dateLabel">Jour actuel: <%= date %></label>
        </p>
    </section>
    <p class="filter">
      <a href="/10"> 10 </a>
      <a href="/20"> 20 </a>
      <a href="/all"> all </a>
    </p>
    <div id="incidents-table"><table id="table">
      <tr>
        <th>Description</th>
        <th>Adresse</th>
        <th>Rapporté par</th>
        <th>Date</th>
        </tr>
          <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td><%= data[i].description %></td>
              <td><%= data[i].address %></td>
              <td><%= data[i].user %></td>
              <td><%= data[i].date %></td>
            </tr>
          <% } %>
      </table></div>
</body>
<script src="./scripts/script-index.js"></script>
</html>
